*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Roboto" !important;
}

text {
  font-family: "Roboto" !important;
}

body {
  background-color: #ffffff;
  text-align: left;
}

section {
  /* width: 100%; */
  width: 1080px;
  background-color: #ffffff;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 4px solid #121212;
}

.inverse {
  background-color: #f0f0f0;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #f0f0f0;
  clip-path: inset(0 -100vmax);
}

.inverse-title {
  color: white;
  border-bottom: white 2px solid;
}

.container {
  min-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 24px;
  font-weight: 1000;
  color: #121212;
  margin: 5px;
  margin-bottom: 2.5px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #121212;
  margin: 5px;
  margin-top: 0px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  height: 1080px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 1px;
  /* flex: none; */
  /* background-color: #f0f0f0; */
}

.last-item {
  flex-grow: 1;
  /* background-color: #f0f0f0; */
}

.stats-title {
  width: 100%;
  height: 40px;
  border-bottom: #1db954 solid 2px;
}

.stats-text {
  width: 100%;
  height: 100px;
  border-bottom: #1db954 solid 1px;
}

.stats-text {
  display: block;
  width: 100%;
  height: 100px;
}

.stats-image {
  width: 100%;
  height: auto;
}
.stats-image {
  display: flex;
  margin: 5px;
}

.release-decade-tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-top: 20px;
  gap: 15px;
}

.release-decade-tile {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 10px;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  box-sizing: content-box;
  flex: 1;
}

.release-decade-title {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 22px;
}

.release-decade-svg {
  height: 100%;
}

.release-decalde-label {
  font-size: 18px;
  text-anchor: end;
}

.release-decade-gridline {
  stroke: #a9a9a9;
  stroke-width: 1;
  stroke-dasharray: 5 5;
  opacity: 0.5;
}

.release-decade-grid-label {
  font-size: 18px;
  fill: #121212;
}

.release-decade-comp-label {
  font-size: 18px;
  font-weight: 1000;
}

.release-decade-bar {
  rx: 5;
  ry: 5;
  stroke: #121212;
  stroke-width: 0.5px;
}

.release-decade-bar-comp {
  rx: 5;
  ry: 5;
  stroke: #121212;
  stroke-width: 1.5px;
}

.release-decade-bar-bg {
  fill: #edfcf2;
  stroke: #a9a9a9;
  /* fill: none; */
  /* stroke: none; */
  stroke-width: 0.5px;
  opacity: 0.25;
  /* stroke-dasharray: 5 5; */
}

.overview-line-all {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.overview-line-current {
  fill: none;
  stroke: #1db954;
  stroke-width: 4px;
}

.overview-line-old {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 2px;
  stroke-dasharray: 10 5;
  opacity: 1;
}

.cy-line-new {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.overview-area {
  fill: #edfcf2;
}

.cy-area-new {
  fill: #aaf0c2;
}

.x-axis {
  opacity: 1;
}

.x-axis line {
  stroke: #a9a9a9;
  stroke-width: 1px;
  opacity: 0.5;
  stroke-dasharray: 5 5;
}

.x-axis path {
  stroke: none;
}

.x-axis text {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.y-axis line {
  stroke: #a9a9a9;
  stroke-width: 1px;
  opacity: 0.5;
  stroke-dasharray: 5 5;
}

.y-axis path {
  stroke: none;
}

.y-axis text {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.overview-today-text {
  fill: #1db954;
  font-weight: 1000;
  font-size: 20px;
  text-anchor: end;
}

.overview-ytd-text {
  fill: #1db954;
  font-weight: 1000;
  font-size: 20px;
}

.overview-ytd-text-old {
  fill: #a9a9a9;
  font-weight: 1000;
  font-size: 20px;
}

.cy-legend {
  fill: #121212;
  font-size: 20px;
  text-anchor: start;
}

.cy-legend-1 {
  fill: #121212;
  stroke: #1db954;
  stroke-width: 3px;
}

.cy-legend-2 {
  fill: #121212;
  stroke: #1db954;
  stroke-width: 3px;
  stroke-dasharray: 1%;
}

.ca-today {
  fill: #1db954;
}

/* .ca-year-start {
  fill: #a9a9a9;
  font-weight: 400;
  font-size: 20px;
  text-anchor: middle;
  background-color: #121212;
} */

.release-grid {
  stroke: none;
}

.release-line {
  stroke: #ffffff;
  stroke-width: 5px;
  opacity: 1;
}

.release-text {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: end;
}

.release-legend-text {
  fill: #191414;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.release-grid-label {
  fill: #a9a9a9;
  font-weight: 400;
  font-size: 18px;
  text-anchor: middle;
  alignment-baseline: middle;
}

.ra-rect {
  opacity: 1;
  /* fill: #ffffff; */
  /* stroke: #a9a9a9; */
  stroke-width: 2px;
}

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.4);
  }
  60% {
    transform: scaleY(0.6);
  }
  80% {
    transform: scaleY(1);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1.5);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  position: fixed;
  display: flex;
  z-index: 99;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  gap: 10px;
  color: #1db954;
  font-weight: bolder;
  font-size: 32px;
  --boxSize: 8px;
  --gutter: 4px;
}

.loader.hidden {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}

.wave {
  transform: scaleY(0.4);
  height: 64px;
  width: var(--boxSize);
  background: #1db954;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.space {
  transform: scaleY(0.4);
  height: 64px;
  width: 15px;
  background: none;
}

.wave1 {
  animation-name: quiet;
  animation-delay: 1.5s;
}

.wave2 {
  animation-name: normal;
  animation-delay: 0.5s;
}

.wave3 {
  animation-name: loud;
  animation-delay: 0.2s;
}

.wave4 {
  animation-name: loud;
}

.wave5 {
  animation-name: normal;
}

.radio-options {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin: 5px auto 5px 10px;
  align-items: left;
}

.radio-options input[type="radio"] {
  display: none;
}

.radio-options input[type="radio"]:checked + label {
  background-color: #aaf0c2;
  color: #191414;
  font-weight: bold;
}

.radio-options > div {
  flex: 0 1 1;
  display: flex;
  align-items: center;
  margin: 5px;
}

.radio-options label {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #ffffff;
  border: 1px solid #1db954;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.ca-tooltip {
  position: absolute;
  background: #ffffff;
  font-size: larger;
  font-weight: 300;
  border-radius: 10px;
  text-align: center;
  color: #1db954;
  padding-bottom: 2px;
  padding: auto;
}

/* Add some basic styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px; /* Light bottom margin for the table */
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 0.5px solid #a9a9a9; /* Light bottom border for each cell */
}

th {
  background-color: #edfcf2;
  color: #1db954;
  border-bottom: 2px solid #1db954;
  position: sticky;
  top: 0;
  z-index: 10;
}

tr:hover {
  background-color: #aaf0c2; /* Highlight row on hover */
}
#pagination {
  text-align: center;
  margin-top: 10px;
}
button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #1db954; /* Green background for buttons */
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #1db954; /* Darker green on hover */
}
button:disabled {
  background-color: #ccc; /* Grayed out when disabled */
}
#searchInput {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

/* Style for the headphones icon */
.headphones-icon {
  color: #1db954; /* Example: green color */
}

.center-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-album {
  width: 35%;
}

.column-artist {
  width: 30%;
}

.column-release-date {
  width: 15%;
}

.column-album-url {
  width: 10%;
  align-items: center;
}

.column-album-cover {
  width: 0%;
}
