*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Roboto" !important;
}

text {
  font-family: "Roboto" !important;
}

body {
  background-color: #ffffff;
  text-align: left;
}

section {
  width: 95%;
  background-color: white;
  margin: 5px;
}

.inverse {
  background-color: #f0f0f0;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #f0f0f0;
  clip-path: inset(0 -100vmax);
}

.inverse-title {
  color: white;
  border-bottom: white 2px solid;
}

.container {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 30px;
  font-weight: 1000;
  color: #191414;
  margin: 5px;
  border-bottom: #1db954 solid 2px;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  color: #191414;
  border-bottom: #1db954 solid 1px;
  margin: 5px;
}

.stats {
  display: flex;
  height: 600px;
  background-color: #1db954;
}

.stats-tile-3r {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 600px;
  margin: 5px;
}

.stats-tile-3r::before {
  content: "";
  width: 0;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.stats-tile-3r > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.stats-title {
  display: flex;
  margin: 5px;
}

/* .stats-tile-3r > .stats-title {
  border-bottom: #1db954 solid 2px;
} */

.stats-text {
  display: block;
  margin: 5px;
}

.stats-image {
  display: flex;
  margin: 5px;
}

.ca-line-all {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.ca-line-current {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.ca-line-old {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1px;
  stroke-dasharray: 10 5;
  opacity: 0.75;
}

.cy-line-new {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.ca-area {
  fill: #edfcf2;
}

.cy-area-new {
  fill: #aaf0c2;
}

.ca-x-axis {
  opacity: 1;
}

.ca-x-axis line {
  stroke: #a9a9a9;
}

.ca-x-axis path {
  stroke: #a9a9a9;
}

.ca-x-axis text {
  fill: #191414;
  font-weight: 400;
  font-size: 20px;
  text-anchor: start;
}

.ca-y-axis line {
  stroke: #a9a9a9;
  stroke-width: 1px;
  opacity: 0.25;
}

.ca-y-axis path {
  stroke: none;
}

.ca-y-axis text {
  fill: #191414;
  font-weight: 400;
  font-size: 20px;
  text-anchor: start;
}

.ca-today-text {
  fill: #1db954;
  font-weight: 1000;
  font-size: 20px;
  text-anchor: end;
}

.ca-ytd-text {
  fill: #1db954;
  font-weight: 1000;
  font-size: 20px;
}

.ca-ytd-text-old {
  fill: #9df7bd;
  font-weight: 1000;
  font-size: 20px;
}

.cy-legend {
  fill: #191414;
  font-size: 20px;
  text-anchor: start;
}

.cy-legend-1 {
  fill: #191414;
  stroke: #1db954;
  stroke-width: 3px;
}

.cy-legend-2 {
  fill: #191414;
  stroke: #1db954;
  stroke-width: 3px;
  stroke-dasharray: 1%;
}

.ca-today {
  fill: #1db954;
}

/* .ca-year-start {
  fill: #a9a9a9;
  font-weight: 400;
  font-size: 20px;
  text-anchor: middle;
  background-color: #191414;
} */

.dy-grid {
  stroke: none;
}

.dy-line {
  stroke: #ffffff;
  stroke-width: 5px;
  opacity: 1;
}

.dy-text {
  fill: #191414;
  font-weight: 400;
  font-size: 20px;
  text-anchor: end;
}

.dy-text-legend {
  fill: #191414;
  font-weight: 400;
  font-size: 20px;
  text-anchor: start;
}

.dy-arrow {
  fill: #191414;
  stroke: #191414;
  stroke-width: 2px;
}

.ra-rect {
  opacity: 1;
  /* fill: #ffffff; */
  /* stroke: #a9a9a9; */
  stroke-width: 2px;
}

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.4);
  }
  60% {
    transform: scaleY(0.6);
  }
  80% {
    transform: scaleY(1);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1.5);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  position: fixed;
  display: flex;
  z-index: 99;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  gap: 10px;
  color: #1db954;
  font-weight: bolder;
  font-size: 32px;
  --boxSize: 8px;
  --gutter: 4px;
}

.loader.hidden {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}

.wave {
  transform: scaleY(0.4);
  height: 64px;
  width: var(--boxSize);
  background: #1db954;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.space {
  transform: scaleY(0.4);
  height: 64px;
  width: 15px;
  background: none;
}

.wave1 {
  animation-name: quiet;
  animation-delay: 1.5s;
}

.wave2 {
  animation-name: normal;
  animation-delay: 0.5s;
}

.wave3 {
  animation-name: loud;
  animation-delay: 0.2s;
}

.wave4 {
  animation-name: loud;
}

.wave5 {
  animation-name: normal;
}

.radio-container {
  display: inline-flex;
  justify-content: space-around;
  margin: 5px;
}
.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #1db954;
  border-radius: 4px;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked + label {
  background-color: #81f8ab;
  color: #191414;
  font-weight: bold;
}

.radio-container-years {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.radio-container-years input[type="radio"] {
  display: none;
}

.radio-container-years input[type="radio"]:checked + label {
  background-color: #aaf0c2;
  color: #191414;
  font-weight: bold;
}

.radio-container-years > div {
  flex: 0 1 25px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.radio-container-years label {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #ffffff;
  border: 1px solid #1db954;
  border-radius: 4px;
  cursor: pointer;
}

.ca-tooltip {
  position: absolute;
  background: #ffffff;
  font-size: larger;
  font-weight: 300;
  border-radius: 10px;
  text-align: center;
  color: #1db954;
  padding-bottom: 2px;
  padding: auto;
}

/* Add some basic styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px; /* Light bottom margin for the table */
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 0.5px solid #a9a9a9; /* Light bottom border for each cell */
}

th {
  background-color: #edfcf2;
  color: #1db954;
  border-bottom: 2px solid #1db954;
  position: sticky;
  top: 0;
  z-index: 10;
}

tr:hover {
  background-color: #aaf0c2; /* Highlight row on hover */
}
#pagination {
  text-align: center;
  margin-top: 10px;
}
button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #1db954; /* Green background for buttons */
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #1db954; /* Darker green on hover */
}
button:disabled {
  background-color: #ccc; /* Grayed out when disabled */
}
#searchInput {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

/* Style for the headphones icon */
.headphones-icon {
  color: #1db954; /* Example: green color */
}

.center-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-album {
  width: 35%;
}

.column-artist {
  width: 30%;
}

.column-release-date {
  width: 15%;
}

.column-album-url {
  width: 10%;
  align-items: center;
}

.column-album-cover {
  width: 0%;
}

.artist-dropdown {
  display: block;
  /* font-size: 28px; */
  color: #191414;
  /* width: 400px; */
  box-sizing: border-box;
  margin-left: 2.5%;
  margin-bottom: 7.5px;
  border-bottom: 2px solid #191414;
  background-color: white;
}

.stats-image-tiles {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
  justify-items: center; /* center items horizontally in grid cells */
  align-items: center; /* center items vertically in grid cells */
}

.rd-tile {
  width: 350px;
  background: white;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* stack children vertically */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
}
