*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Roboto" !important;
}

text {
  font-family: "Roboto" !important;
}

body {
  background-color: #ffffff;
  text-align: left;
}

section {
  max-width: 1080px;
  background-color: #ffffff;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 4px solid #121212;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  overflow-y: visible;
}

.inverse {
  background-color: #ffffff;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #ffffff;
  clip-path: inset(0 -100vmax);
}

.inverse-title {
  color: white;
  border-bottom: white 2px solid;
}

.container {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 24px;
  font-weight: 1000;
  color: #121212;
  margin: 5px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #121212;
  margin: 5px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.artist-title {
  display: flex;
  margin: 5px;
}

.item {
  padding: 0px 0px 0px 0px;
}

.last-item {
  flex-grow: 1;
}

.stats-title {
  width: 100%;
  border-bottom: #1db954 solid 2px;
  z-index: 11;
  background: #ffffff;
}

.stats-text {
  width: 100%;
  border-bottom: #1db954 solid 1px;
  z-index: 10;
  background: #ffffff;
  margin-bottom: 10px;
}

/* Logic for when the container is tall enough */
.is-sticky {
  position: -webkit-sticky;
  position: sticky;
}

/* Offset the text so it doesn't overlap the title */
.stats-title.is-sticky {
  top: 0;
  z-index: 11;
}

.stats-text.is-sticky {
  top: 40px; /* Height of your title */
  z-index: 10;
}

.stats-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.release-decade-tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-sizing: border-box;
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  margin-top: 5px;
  overflow-y: scroll;
  width: 100%;
}

.release-decade-tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 10px;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.release-decade-title {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 22px;
}

.release-decade-svg {
  height: 100%;
  width: 100%;
}

.release-decade-label {
  font-size: 18px;
  text-anchor: end;
}

.release-decade-gridline {
  stroke: #a9a9a9;
  stroke-width: 1;
  stroke-dasharray: 5 5;
  opacity: 0.5;
}

.release-decade-grid-label {
  font-size: 18px;
  fill: #121212;
}

.release-decade-comp-label {
  font-size: 18px;
  font-weight: 800;
}

.release-decade-bar {
  rx: 5;
  ry: 5;
  stroke: #121212;
  stroke-width: 0.5px;
}

.release-decade-bar-comp {
  rx: 5;
  ry: 5;
  stroke: #121212;
  stroke-width: 1.5px;
}

.release-decade-bar-bg {
  fill: #edfcf2;
  stroke: #a9a9a9;
  stroke-width: 0.5px;
  opacity: 0.25;
}

.artists-tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-sizing: border-box;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  margin-top: 5px;
  width: 100%;
  overflow-y: scroll;
}

.artists-tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 10px;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.overview-line-all {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.overview-line-current {
  fill: none;
  stroke: #1db954;
  stroke-width: 4px;
}

.overview-line-old {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 2px;
  stroke-dasharray: 10 5;
  opacity: 1;
}

.cy-line-new {
  fill: none;
  stroke: #1db954;
  stroke-width: 3px;
}

.overview-area {
  fill: #edfcf2;
}

.cy-area-new {
  fill: #aaf0c2;
}

.x-axis {
  opacity: 1;
}

.x-axis line {
  stroke: #a9a9a9;
  stroke-width: 1px;
  opacity: 0.5;
  stroke-dasharray: 5 5;
}

.x-axis path {
  stroke: none;
}

.x-axis text {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.x-axis-hidden {
  opacity: 1;
}

.x-axis-hidden line {
  stroke: none;
}

.x-axis-hidden path {
  stroke: none;
}

.x-axis-hidden text {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.y-axis line {
  stroke: #a9a9a9;
  stroke-width: 1px;
  opacity: 0.5;
  stroke-dasharray: 5 5;
}

.y-axis path {
  stroke: none;
}

.y-axis text {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.overview-today-text {
  fill: #1db954;
  font-weight: 1000;
  font-size: 20px;
  text-anchor: end;
}

.overview-zero-text {
  fill: #1db954;
  opacity: 75%;
  font-weight: 1000;
  font-size: 18px;
  text-anchor: start;
}

.overview-ytd-text {
  fill: #1db954;
  font-weight: 1000;
  font-size: 20px;
}

.overview-ytd-text-old {
  fill: #a9a9a9;
  font-weight: 1000;
  font-size: 20px;
}

.cy-legend {
  fill: #121212;
  font-size: 20px;
  text-anchor: start;
}

.cy-legend-1 {
  fill: #121212;
  stroke: #1db954;
  stroke-width: 3px;
}

.cy-legend-2 {
  fill: #121212;
  stroke: #1db954;
  stroke-width: 3px;
  stroke-dasharray: 1%;
}

.ca-today {
  fill: #1db954;
}

/* .ca-year-start {
  fill: #a9a9a9;
  font-weight: 400;
  font-size: 20px;
  text-anchor: middle;
  background-color: #121212;
} */

.release-grid {
  stroke: none;
}

.release-line {
  stroke: #ffffff;
  stroke-width: 5px;
  opacity: 1;
}

.release-text-leg {
  fill: #121212;
  font-weight: 400;
  font-size: 18px;
  text-anchor: end;
}

.release-legend-text {
  fill: #191414;
  font-weight: 400;
  font-size: 18px;
  text-anchor: start;
}

.release-grid-label {
  fill: #a9a9a9;
  font-weight: 400;
  font-size: 18px;
  text-anchor: middle;
  alignment-baseline: middle;
}

.recent-rect {
  opacity: 1;
  stroke-width: 2px;
}

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.4);
  }
  60% {
    transform: scaleY(0.6);
  }
  80% {
    transform: scaleY(1);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1.5);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#overview {
  position: relative;
}

.loader {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: calc(100% - 35px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 10;
  gap: 10px;
  color: #1db954;
  font-weight: bolder;
  font-size: 32px;
  --boxSize: 8px;
  --gutter: 4px;
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

#loading-content-wrapper {
  width: 100%;
  display: block;
  transition: opacity 0.5s ease;
}

#loading-content-wrapper.is-loading {
  visibility: hidden;
  height: auto;
  pointer-events: none;
}

.loader-hidden {
  opacity: 0;
}

.wave {
  transform: scaleY(0.4);
  height: 64px;
  width: var(--boxSize);
  background: #1db954;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.space {
  transform: scaleY(0.4);
  height: 64px;
  width: 15px;
  background: none;
}

.wave1 {
  animation-name: quiet;
  animation-delay: 1.5s;
}

.wave2 {
  animation-name: normal;
  animation-delay: 0.5s;
}

.wave3 {
  animation-name: loud;
  animation-delay: 0.2s;
}

.wave4 {
  animation-name: loud;
}

.wave5 {
  animation-name: normal;
}

.radio-options {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin: 5px auto 5px 10px;
  align-items: left;
}

.radio-options input[type="radio"] {
  display: none;
}

.radio-options input[type="radio"]:checked + label {
  background-color: #aaf0c2;
  color: #121212;
  font-weight: bold;
}

.radio-options > div {
  flex: 0 1 1;
  display: flex;
  align-items: center;
  margin: 5px;
}

.radio-options label {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #ffffff;
  border: 1px solid #1db954;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 0px 0px;
  /* margin: 5px; */
}

.search-container input[type="radio"] {
  display: none;
}

.search-container input[type="radio"]:checked + label {
  background-color: #aaf0c2;
  color: #121212;
  font-weight: bold;
}

.search-container > div {
  flex: 0 1 25px;
  display: flex;
  align-items: center;
  margin: 5px;
  border: 1px;
}

.search-container label {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.ca-tooltip {
  position: absolute;
  background: #ffffff;
  font-size: larger;
  font-weight: 300;
  border-radius: 10px;
  text-align: center;
  color: #1db954;
  padding-bottom: 2px;
  padding: auto;
}

/* Add some basic styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px; /* Light bottom margin for the table */
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 0.5px solid #a9a9a9; /* Light bottom border for each cell */
}

th {
  background-color: #edfcf2;
  color: #1db954;
  border-bottom: 2px solid #1db954;
  position: sticky;
  top: 0;
  z-index: 10;
}

tr:hover {
  background-color: #aaf0c2; /* Highlight row on hover */
}
#pagination {
  text-align: center;
  margin-top: 10px;
}
button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #1db954; /* Green background for buttons */
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #1db954; /* Darker green on hover */
}
button:disabled {
  background-color: #ccc; /* Grayed out when disabled */
}
#searchInput {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

/* Style for the headphones icon */
.headphones-icon {
  color: #1db954; /* Example: green color */
}

.center-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-album {
  width: 35%;
}

.column-artist {
  width: 30%;
}

.column-release-date {
  width: 15%;
}

.column-album-url {
  width: 10%;
  align-items: center;
}

.column-album-cover {
  width: 0%;
}

.artist-dropdown {
  display: block;
  font-size: 16px;
  color: #121212;
  width: 300px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 7.5px;
  /* border-bottom: 2px solid #1db954; */
  background-color: white;
}

.stats-image-tiles {
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 10px;
  margin: 0px auto 0px auto;
}

.legend-container {
  /* justify-items: center; */
  /* align-items: center; */
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* margin-top: 10px; */
  /* border-bottom: 10px; */
  /* margin-bottom: 10px; */
}

.artists-tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 10px;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.legends-tile {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-sizing: border-box;
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  margin-top: 5px;
}

.artists-tile-none {
  border: 1px solid #a9a9a9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  opacity: 0.4;
}

.artists-tile-data {
  border: 1px solid #1db954;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.artist-year-svg {
  width: 100%;
  height: 100%;
}

.tile-title {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 22px;
}

.tile-bottom {
  flex: 1;
  background-color: #1db954;
}
.album-play-0 {
  fill: #ffffff;
  stroke: #121212;
  stroke-width: 1px;
}

.ablum-type-legend {
  stroke-width: 2px;
}

.album-play-1 {
  fill: #76e99f;
  stroke: #121212;
  stroke-width: 1px;
}

.album-play-2 {
  fill: #1db954;
  stroke: #121212;
  stroke-width: 1px;
}

.album-play-5 {
  fill: #f1f1f1;
  stroke: #121212;
  stroke-width: 1px;
  stroke-dasharray: 2, 2, 2;
}

.overview-hide {
  display: none;
}

.overview-show {
  display: block;
}

.album-info-tiles {
  width: 600x;
  height: 170px;
  display: grid;
  grid-template-columns: 300px 150px 1fr;
  grid-template-rows: auto auto 1fr;
}

.album-container {
  margin-top: 5px;
  margin-bottom: 10px;
}

.album-container-hide {
  display: none;
}

.album-container-show {
  display: block;
}

.legend-show {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

.legend-hide {
  display: none;
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.album-info-legend {
  grid-area: 1 / 1 / 5 / 2;
}

.album-artist-title {
  font-size: 20px;
  font-weight: bold;
  grid-area: 1 / 3 / 2 / 4;
}

.album-artist-info {
  grid-area: 2 / 3 / 3 / 4;
}

.album-artist-plays {
  grid-area: 3 / 3 / 4 / 4;
}

.album-artist-plays {
  grid-area: 3 / 3 / 4 / 4;
}

.album-src {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
}

.album-src-image {
  width: 150px;
  max-height: 100%;
  object-fit: contain;
}

.album-src-hide {
  display: none;
}

.album-src-show {
  display: block;
}

.card-src a {
  display: contents;
}

.album-artist-image {
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
  grid-area: 1 / 2 / 5 / 3;
}

/* .overview-legend { */
/* flex: 0 0 48%; */
/* height: 150px; */
/* width: 90%;
  border: 1px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px; */
/* } */

.overview-legend-div {
  width: 100%;
  height: 175px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.legend-text {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
}

.month-grid line {
  stroke: #a9a9a9;
  stroke-width: 1;
  stroke-dasharray: 5 5;
  opacity: 0.75;
}

.month-grid text {
  color: #121212;
  font-size: 18px;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  /* display: block; */
  width: 5px;
  /* height: 5px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #1db954;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1db954;
  border-radius: 10px;
}
